<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>开发TodoList(v-model、v-for、v-on)</title>
    <script src="../../asset/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="turtle" />
        <button type="button" v-on:click="addTurtle">添加</button>
        <ul>
            <li v-for="item in list">
                {{item}}
            </li>
        </ul>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                turtle: '',
                list: []
            },
            methods: {
                addTurtle: function () {
                    this.list.push(this.turtle);
                    this.turtle = '';
                }
            }
        });
    </script>
</body>

</html>